@{
    ViewBag.Title = "Home Page";
}

<div ng-controller="HomeController">
    <div class="container-fluid" style="margin-top: 20px;">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label">Enter name of a country</label>
                    <input type="text" name="Country" class="form-control" ng-model="Country" ng-change="tryLoadCities()"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label">Select a city</label>
                    <select name="City" class="form-control" ng-modle="City"></select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
            </div>
        </div>

    </div>
</div>

@section scripts
{
    <script src="~/Scripts/pages/main.js" type="text/javascript"></script>
}